<div class="form_wrapper">
   <div id="tag_cloud">
      <% tag_cloud Quote.tag_counts, %w{s m l} do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>

</div>

  <table>
    <tbody>
      <% @quotes.each do |quote| %> 
        <tr>
          <td>
          <% if current_user && current_user == quote.user || current_user && current_user.admin?%>

          <div class="quote_thumb"><%= image_tag quote.image, class:'img_thumb' %>  

         <%if quote.user.admin? %>
          <i><%= quote.author_first_name %>
          <%= quote.author_last_name %></i>
          <td><%= quote.citation %></td>
          <% else %> 
          <i> <%= quote.user.first_name %>
          <%= quote.user.last_name %> </i>
          <td><%= quote.citation %>
          </td>
          </div>
          <% end %> 
          
            
          
          </td>
          <td><%= link_to 'Show', quote_path(quote) %></td>
          <% if current_user && current_user == quote.user || current_admin && current_admin.admin?%>

          <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
          <td><%= link_to 'Destroy', quote_path(quote), method: :delete, data: { confirm: 'Are you sure?' } %>
          <small> Tags: <%=raw quote.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %> </small></td>
          <% end %>
          <% end %>
        </tr>

</div>
      <% @quotes.each do |quote| %>
          <% if quote.user.present? %>
          <%= link_to quote_path(quote), class: :"quote_link" do %>
          <div class="quote_thumb", style="background:url(<%= quote.image.url -%>); background-size:cover;"\>
            <div class="quote_cite"><%= quote.citation %></div>

            <div class="quote-author">
              <%= link_to quote.user, class: :"author_link" do %>
                <%= image_tag quote.user.profile_picture.comment_thumb, class: :"quote_avatar" %>
                <b><%= quote.user.first_name %> <%= quote.user.last_name %></b>
                <% end %>
            </div>

            <% if current_user && current_user == quote.user%>
            <%= link_to 'Edit', edit_quote_path(quote) %>
            <%= link_to 'Destroy', quote_path(quote), method: :delete, data: { confirm: 'Are you sure?' } %>
            <small> Tags: <%=raw quote.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %> </small>
            <% end %>
              <% end %>
            <% end %>

          </div>

          <% end %>

  <br>
    <% if current_user && current_user == quote.user || current_admin && current_admin%>
       <%=  link_to 'Create User', new_users_admin_path, class: 'btn btn-danger' %>
       <%=  link_to 'Create Admin', new_admin_path, class: 'btn btn-primary' %> 
       <%= link_to'New Quote', new_quote_path, class: "btn btn-default"%>

  <% end %>
</div>
 <% end %>