

<% @quotes.each do |quote| %>
  <% content_for :head do %>
    <meta name='twitter:card' content='summary_large_image'>
    <meta name="twitter:site" content='<%=@QuothMe%>'/>
    <meta name="twitter:creator" content="<%=quote.user.first_name%>"/>
    <meta name="twitter:img:src" content="<%=quote.image.url%>" />
  <% end %>
          <% if quote.user.present? %>
          <%= link_to quote_path(quote), class: :"quote_link" do %>
          <div class="quote_thumb", style="background:url(<%= quote.image.url -%>); background-size:cover;">
            <div class="quote_cite"><%= quote.citation %></div>
            

            <div class="quote-author">
              <%= link_to quote.user, class: :"author_link" do %>
                <%= image_tag quote.user.profile_picture.comment_thumb, class: :"quote_avatar" %>
                <b><%= quote.user.first_name %> <%= quote.user.last_name %></b>
                <% end %>
            </div>

            <% if current_user && current_user == quote.user%>
            <%= link_to 'Edit', edit_quote_path(quote) %>
            <%= link_to 'Destroy', quote_path(quote), method: :delete, data: { confirm: 'Are you sure?' } %>
            <small> Tags: <%=raw quote.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %> </small>
            <% end %>
              <% end %>
          <% end %>
          </div>

            
           

            <div class="comments" id="comments_<%= quote.id%>">

            <% if quote.comments.present?%>
              <%= render quote.comments, quote: quote %>
              
            <% end %>            

          </div>

            <%= form_for([quote, quote.comments.build], remote: true) do |f| %>
            <%=f.text_field :content, placeholder: "Add a comment...", class:"comment_content", id: "comment_content_#{quote.id}"%>
            <%= f.submit 'Send Comment' %>
            <% end %>

           
 <% end %>
  
  <div class=col-sm-9>
    <h1 class='text-center'> What's New </h1>
    <%= render 'shared/activities'%>          
  </div>

 