<div id="quote" style="background:url(<%= @quote.image.url -%>); background-size:cover; background-attachment: fixed;">
  <div class="quote-bg">
  </div>
  <div class="quote-body">

    <div class="quote-text">
      "<%= @quote.citation %>"
    </div>

    <div class="quote-author">
      <%= link_to @quote.user, class: :"author_link" do %>
        <%= image_tag @quote.user.profile_picture.comment_thumb, class: :"quote_avatar" %>
        <b><%= @quote.user.first_name %> <%= @quote.user.last_name %></b>
        <% end %>
    </div>

       <%= social_share_button_tag(@quote.citation) %>



    <div class="quote-actions">
      <% if current_user && current_user == @quote.user %>
      <%= link_to 'Edit', edit_quote_path(@quote) %> |
      <%= link_to 'Back', quotes_path %>
    </div>
       <% end %>
      </div>


</div>
