<div id="quote" style="background:url(<%= @quote.image.url -%>); background-size:cover; background-attachment: fixed;">
  <div class="quote-bg">
  </div>
  <div class="quote-actions">
    <% if current_user && current_user == @quote.user %>
    <%= link_to edit_quote_path(@quote) do %>
      <i class="fa fa-pencil"></i>
       Edit
      <% end %>
    <% end %>
  </div>

  <div class="quote-body">

    <div class="quote-text">
      "<%= @quote.citation %>"
    </div>

    <div class="quote-author">
      <%= link_to @quote.user, class: :"author_link" do %>
        <%= image_tag @quote.user.profile_picture.comment_thumb, class: :"quote_avatar" %>
        <b><%= @quote.user.first_name %> <%= @quote.user.last_name %></b>
        <% end %>
    </div>

      </div>

  <div id="share-bar">
    <%= social_share_button_tag(@quote.citation, :image => @quote.image) %>
  </div>
</div>


<% twitter card: 'summary_large_image',
  description: @quote.citation,
  image: @quote.image,
  title: @quote.user.first_name%>
