
<div class="container-fluid">
  <div class="row">
    <div class="profile_header">
      <div class="profile_picture">
        <%= image_tag @user.profile_picture.profile_thumb, class: :"profile_avatar" %>
      </div>
      <div class="profile_name">
        <%= @user.first_name %>
        <%= @user.last_name %>
      </div>
      <div class="profile_created">
        Member since: <%=@user.created_at.strftime('%B %d, %Y') %>
      </div>
    </div>
  </div>
</div>

<b> <%=@user.first_name %> has: <%=@user.quotes.count%> quotes </b>

<% @user.quotes.each do |quote| %>
    <% if quote.user.present? %>
    <%= link_to quote, class: :"quote_link" do %>
      <div class="profile_quote_thumb"><%= image_tag quote.image, class:'img_thumb' %>
    <% end %>
      <% if current_user && current_user == quote.user%>
      <%= link_to 'Edit', edit_quote_path(quote) %>
      <%= link_to 'Destroy', quote_path(quote), method: :delete, data: { confirm: 'Are you sure?' } %>
      <small> Tags: <%=raw quote.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %> </small>
    </div>
    <% end %>
    <% end %>
<% end %>
