
<div class="container-fluid">
  <div class="row">
    <div class="profile_header">
      <div class="profile_subheader">
        <div class="profile_picture">
          <%= image_tag @user.profile_picture.profile_thumb, class: :"profile_avatar" %>
        </div>
        <div class="profile_name">
          <%= @user.first_name %>
          <%= @user.last_name %>
        </div>
        <div id="following">
          <%= link_to "Following", following_user_path(@user)%> 
          <strong>  
            <%= @user.following.count %>
          </strong>
        </div>

        <div id="followers">
           <%= link_to "Followers", followers_user_path(@user)%>
           <%= @user.followers.count %>
        </div>

        <% if user_signed_in %>
          <% unless current_user == @user %>
            <div id="follow_form">
              <% if current_user.following?(@user) %>
                <%= render 'unfollow_form' %>
              <% else %>
                <%= render 'follow_form' %>    
              <% end %> 
            </div>
          <% end %>
        <% end %> 
        



        <div class="profile_created">
          Member since: <%=@user.created_at.strftime('%B %d, %Y') %>
        </div>

        <b> <i class="fa fa-comment"> <%=@user.quotes.count%> </b></i>

         <% if current_user && current_user == @user %>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
          <% elsif current_admin && current_admin.present? %>
          <%= link_to 'Edit User Profile', edit_users_admin_path%>
         <% end %>


      </div>

<div id="tag_cloud" class="user_tag_cloud">
   <% tag_cloud Quote.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
   <% end %>

</div>

    </div>
  </div>



<div class="quote_list">
<div class="row">
<% @user.quotes.each do |quote| %>
  <div class="user_quote_body">
    <% if quote.user.present? %>
    <%= link_to quote, class: :"quote_link" do %>
      <div class="profile_quote_thumb"><%= image_tag quote.image, class:'img_thumb' %>
        "<%= quote.citation %>"
    <% end %>
      <% if current_user && current_user == quote.user || current_admin && current_admin.present?%>
      <%= link_to 'Edit', edit_quote_path(quote) %>
      <%= link_to 'Destroy', quote_path(quote), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <small> Tags: <%=raw quote.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %> </small>
    </div>
  </div>
    <% end %>
<% end %>
  </div>
</div>
