<div id="sidebar-wrapper">
      <ul class="sidebar-nav">
      <li class="sidebar-brand"><%= link_to "QuothMe", root_path%></li>
      <div class="sidebar-links">
        <% if user_signed_in? %>

        <div class="sidebar_actions">
           <li class="sidebar_avatar">
             <%= link_to user_path(current_user) do %>
              <%= image_tag current_user.profile_picture.profile_thumb, class: :"profile_avatar" %></li>
              <% end %>
              <%= render 'layouts/navbarnotis'%>
         </div>

         <li> <%= link_to quotes_path do %>
           <i class="fa fa-tachometer"></i>
            Dashboard
           <% end %>
         </li>

           <li> <%= link_to  new_quote_path do %>
             <i class="fa fa-plus"></i>
              New Quote
             <% end %>
           </li>

           <li> <%= link_to destroy_user_session_path, method: :delete do %>
             <i class="fa fa-power-off"></i>
            Sign Out
            <% end %>
           </li>

        <% elsif admin_signed_in?%>
          <li> <%= link_to 'Logged in as Admin' %> </li>
          <%=  link_to 'Create User', new_users_admin_path, class: 'btn btn-danger' %>
          <%=  link_to 'Create Admin', new_admin_path, class: 'btn btn-primary' %>
           <%= link_to  'Sign Out', destroy_admin_session_path, class:'btn btn-primary', method: :delete %>         
        <% else %>

           <li> <%= link_to new_user_session_path do %>
             <i class="fa fa-key"></i>
             Sign In
             <% end %>
           </li>


           <li> <%= link_to new_user_registration_path do %>
             <i class="fa fa-user-plus"></i>
             Sign Up
             <% end %>
           </li>
         <% end %>


          <div id="tag_cloud">
           <li><i class="fa fa-tags"></i><b>Tags</b></li>
            <% tag_cloud Quote.tag_counts, %w{s m l} do |tag, css_class| %>
              <li><%= link_to tag.name, tag_path(tag.name), class: css_class %></li>
            <% end %>
        </div>

</div>
        </ul>
</div>
